{% extends "layout.html" %}
{% block title %}Lisää Yhdistelmä{% endblock %}
{% block content %}
<form action="/addcombtodb" method="POST">
    {% if error %}
    <p>Lisääminen ei onnistunut. Et ole valinnut ryhmää, Kanji on jo käytössä tai joko kanjin, merkityksen tai lukutavan syöte tyhjä.</p>
    {% endif %}
    {% if success %}
    <p>Lisätty onnistuneesti!</p>
    {% endif %}
    <p>
        {% for group in groups %}
        <input type="radio" name="group" value={{group.id}}> {{ group.name }}
        {% endfor %}
    </p>
    <p>Kanji: <input type="text" name="kanji"></p>
    <p>Merkitys: <input type="text" name="meaning"></p>
    <p>Lukutapa: <input type="text" name="yomikata"></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lähetä">
    </form>
{% endblock %}