{% extends "layout.html" %}
{% block title %}Väärin{% endblock %}
{% block content %}
<form action="/combnext" method="POST">
    <h2>Vastaukset väärin</h2>
    Sinun vastauksesi olivat:
    <ul>
        <li>Merkitys: {{ yread }}</li>
        <li>lukutapa: {{ yyomikata }}</li> 
    </ul>
    <p>Yhdistelmän merkitys on: {{ results.meaning }}</p>
    <p>Yhdistelmän lukutapa on: {{ results.yomikata }}</p>
    <input type="hidden" name="groupid" value="{{ groupid }}">
    <input type="hidden" name="counter" value="{{ counter }}">
    <input type="hidden" name="right" value="{{ right }}">
    <input type="submit" value="Seuraava">
    </form>
    <a href="/">Takaisin Etusivulle</a>
{% endblock %}