<title>Etusivu</title>
<h1>Etusivu</h1>
<h2>Harjoitukset</h2>
<ul>
    <li><a href="/readexercises">Lukutapa</a></li>
    <li><a href="/combinationexercise">Yhdistelmä</a></li>
    {% if session.userid %}
    <li><a href="/randomize">Satunnainen järjestys</a></li>
    {% endif %}
</ul>

{% if session.userid %}
<p>Olet kirjautunut käyttäjällä {{ username }}</p>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<p><a href="/loginpage">Kirjaudu sisään</a> tai <a href="/registerpage">Rekisteröi uusi käyttäjä</a></p>

{% endif %}