{% extends "layout.html" %}
{% block title %}Väärin{% endblock %}
{% block content %}
<form action="/next" method="POST">
<h2>Vastaukset väärin</h2>
Sinun vastauksesi olivat:
<ul>
    <li>Merkitys: {{ yread }}</li>
    <li>Kun-yomi: {{ ykun }}</li>
    <li>On-yomi: {{ yon }}</li> 
</ul>
Kanjin merkityksiä on mm.
<ul>
    {% for i in meaning %}
    <li>{{ i.meaning }}</li>
    {% endfor %}
</ul>
Kun-yomi-lukutapoja on mm.
<ul>
    {% for i in kunyomi %}
    <li>{{ i.kun }}</li>
    {% endfor %}
</ul>
On-yomi-lukutapoja on mm.
<ul>
    {% for i in onyomi %}
    <li>{{ i.ony }}</li>
    {% endfor %}
</ul>
<input type="hidden" name="groupid" value="{{ groupid }}">
<input type="hidden" name="counter" value="{{ counter }}">
<input type="hidden" name="right" value="{{ right }}">
<input type="submit" value="Seuraava">
</form>
{% endblock %}